        <div class="clear"></div>
        <div class="clearer"></div>
      </div><!-- content -->
    </div><!-- contentContainer -->

    <div class="clearer"></div>
	<%= render(:partial => "templates/aqualicious/footer") %>

  </div><!-- container -->
