
<% 

	@xmlurl="xml_source=#{@app_base}/#{@app_name.downcase}/#{data_method}?" +
				"xml_params=" + 
					"test_id=#{@test_id}|" + 
					"grade=#{@grade}|" + 
					"year=#{@year}|" + 
					"school_type=#{@school_type}|" +
					"school_code=#{@school_code}|" +
					"district_code=#{@district_code}|" + 
					"county_code=#{@county_code}" 
%>
<table cellspacing='0' border='1'>
	<tr>
		<td>
		<%= render(:partial => "templates/#{@theme}/chart_obj") %>
		</td>
	</tr>
</table>

