    <div id="footer">
      <!-- Start Footer -->

      <div id="breadcrumbcontainer">
        <!-- Start the breadcrumb wrapper -->

      </div><!-- End breadcrumb -->

<p>&#169; 2007~2008 iFanSee</p>
    </div><!-- End Footer -->
