<h3>Mean Scaled Score:</h3>

<h4>Grade:4</h4>

<a href='<%=@app_base%>/star/mean_scaled_score?grade=4&
test_id=7
&test_name=CST English-Language Arts'>CST English-Language Arts</a><br>

      
<a href='<%=@app_base%>/star/mean_scaled_score?grade=4&
test_id=8
&test_name=CST Mathematics'>CST Mathematics</a><br>


<br>
