<div id="sidebarContainer">
  <div id="sidebar">
	 <div id="sidebar-categories">



 		<%= render(:partial => "templates/#{@theme}/#{@app_name.downcase}/#{controller.action_name}") %>
 
	</div>					 
  </div> <!-- sidebar -->
</div> <!-- sidbarContainer -->
	 	
		