

<div id="sidebarContainer">
	<div id="sidebar">
		<div id="sidebar-categories">

		  <%= render :partial => "templates/#{@theme}/#{@app_name.downcase}/form_search" %>

		</div>					 
	</div> <!-- sidebar -->

</div> <!-- sidbarContainer -->



