
<div id='ajax_div'>
	<%= hidden_field_tag :html_type, 'ajax' %>
	<%= hidden_field_tag :school_code, @school_code %>
	<%= hidden_field_tag :school_type, @school_type %>
	<%= hidden_field_tag :year, @year %>

	<h3>API Growth Scores:</h3><br/>
	
	<%= render(:partial => "templates/#{@theme}/chart", :locals => {:data_method => "api_score_xml"} ) %>

	<br />
	<%= render(:partial => "go_to") %>

</div>