
<ul>
	<li>Version: Beta 1 (Date: 01/06/08)</li>
	<li>Please send mails to <b>isupport [at] ifansee.com</b> if you have any questions or comments.</li>
	<li>API data source: <a href='http://www.cde.ca.gov/ta/ac/ap/'>Academic Performance Index (API)</a>.</li>
	<li>STAR data source: <a href='http://star.cde.ca.gov/'>Standardized Testing and Reporting (STAR) Results</a>.</li>
</ul>